.pageLayout {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2rem;
}

.divider {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.contentWrapperSmall {
  margin-top: 1rem;
}

.contentWrapperBig {
  margin-top: 2rem;
}
