.pageLayout{margin-left:10%;margin-right:10%;margin-bottom:2rem}.divider{margin-bottom:2rem;margin-top:2rem}.contentWrapperSmall{margin-top:1rem}.contentWrapperBig{margin-top:2rem}

.backgroundColorPds{background:#d5001c}.textSizeMedium{font-size:1.5rem;line-height:1.5;font-family:"Porsche Next","Arial Narrow",Arial,sans-serif;font-weight:400}

