on:
  push:
    branches:
      - master
      - feature/*
      - housekeeping/*
name: 'Sample Integration NextJS'
jobs:
  build:
    name: 'Build'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v2
      - name: 'Install'
        uses: ./docker/node/
        env:
          PORSCHE_NPM_REGISTRY_TOKEN: ${{ secrets.PORSCHE_NPM_REGISTRY_TOKEN }}
        with:
          entrypoint: run-install
      - name: 'Unit Test'
        uses: ./docker/node/
        with:
          entrypoint: run-test
      - name: 'Build'
        uses: ./docker/node/
        with:
          entrypoint: run-build
      - name: 'Store build artifact'
        uses: actions/upload-artifact@v1
        with:
          name: sample-build
          path: ./out
  deployment:
    name: 'Deployment'
    needs: [build]
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v2
      - name: 'Restore build artifact'
        uses: actions/download-artifact@v1
        with:
          name: sample-build
          path: ./out
      - name: 'Deploy'
        uses: ./docker/node/
        env:
          GIT_DEPLOY_KEY: ${{ secrets.GIT_DEPLOY_KEY }}
        with:
          entrypoint: run-deploy
